.login_cont {
  position: fixed;
  height: 94vh;
  width: 40vw;
  background: #1a1a1b;
  left: 50%;
  margin-left: -20vw;
  top: 50%;
  margin-top: -47vh;
  z-index: 1000;
  text-align: center;
  padding: 4rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0px 0px 5px 1px rgba(218, 215, 220, 0.3);
}

@media (max-width: 63rem) {
  .login_cont {
    width: 70vw;
    margin-left: -35vw;
  }
}

.login_cont__icon {
  position: absolute;
  top: 2rem;
  right: 2rem;
  width: 2.2rem;
  cursor: pointer;
}
.login_cont__icon img {
  width: 100%;
}

.login_cont__msg {
  font-size: 2rem;
  color: #d7dadc;
}

.login_cont__otherOp {
  font-size: 1.2rem;
}

.login_cont__form {
  text-align: left;
}

.login_cont__form input {
  margin-bottom: 1rem;
  padding: 0.5rem 1rem;
  border: none;
  background-color: #1a1a1b;
  border: 1px solid #3a3b3d;
  color: #d7dadc;
}

.login_cont__form input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px #1a1a1b inset !important;
  -webkit-text-fill-color: #d7dadc !important;
}

.login_cont__form input:focus-visible {
  outline: 1px solid #dad7dc;
}

.login_cont__error {
  margin-bottom: 1rem;
  margin-left: 0.3rem;
  color: #15cf81;
  font-size: 0.8rem;
}

.login_cont_formButton {
  width: 100%;
  background-color: #dad7dc;
  color: grey;
  border: 1px solid #dad7dc;
  padding: 0.3rem;

  border-radius: 8px;
  cursor: pointer;
}

.login_cont_formButton:hover {
  background-color: white;
  color: black;
}

.login_cont__otherOp {
  color: grey;
  cursor: pointer;
}

.login_cont__otherOp:hover {
  color: #d7dadc;
}

@media (max-width: 30rem) {
  .login_cont {
    width: 80vw;
    margin-left: -40vw;
    height: 90vh;
    margin-top: -45vh;
  }

  .login_cont__msg {
    font-size: 1.5rem;
    color: #d7dadc;
  }

  .login_cont__form input {
    width: 12rem;
  }

  .login_cont__otherOp {
    font-size: 0.8rem;
  }
}
