.hm_cont {
  background: rgba(0, 0, 0, 0.6);
  width: 50%;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 1000;
}

.hp_cont__icon {
  position: absolute;
  top: 2rem;
  right: 2rem;
  width: 2.2rem;
  cursor: pointer;
}

.hp_cont__icon img {
  width: 100%;
}

.hm_cont__list {
  list-style: none;
  margin-top: 8rem;
}

.hm_cont__list li {
  margin-bottom: 4rem;
  font-size: 1.4rem;
  cursor: pointer;
}
